@import url('https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet');

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Varela+Round&display=swap');


.banner-text{
  font-family: 'Anton', sans-serif;
}

.icons{
  border: 2px solid rgb(190, 17, 17);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  border-radius: 10%;
}

#boxes{
  background-color:#060a0a;
}

#color-it{
  color: rgb(160, 15, 15);
}

.making-room {
  /* border-bottom: rgb(190, 17, 17) solid 1px; */
}

.spacer{
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
font-family: 'Varela Round', sans-serif;
}

.fix{ 
  margin:auto;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
  
}

.navbar {
  box-shadow: 2px 2px 5px darkgray;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
     }

.nav-icon{
  margin-left: 10px;
  margin-right: 15px;
  cursor: pointer;
}

#breaker{
  position: relative;
  min-height: 220px;
  background: url('./assets/img1.jpg');
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

 .dark-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
} 

#showcase {
  background: url("./assets/img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
   /* #showcase .primary-overlay {
    background: rgba(0, 0, 0, 0.4);
    top: -50px;
    left: 0;
  height: 100%; 
  position: relative;} */ 


.card-image{
height: 100%;
width: 100%;
}

.card-body:hover{
  
 
}

.info-header {

  margin: auto;
  border-bottom: 1px #ddd solid; }



#authors .fab {
  color: #fff; }

.nav-link {
  font-size: 18px;
}

@media (max-width: 768px) {
  #showcase {
     }
    #showcase h1 {
      font-size: 4rem; }

  .mb-resp {
    margin-bottom: 1rem; } }

.App {
  padding-top: 115px;
}

.btn{ 
  margin: auto;
  display: flex;
  margin-top: 25px;
}

.whitespace{
  padding-top: 85px;
}

#contact {
  margin: auto;
  text-align: center;
}

.btn-custom {
  background-color: rgb(190, 17, 17) !important;
  color: white !important;
}

.btn-custom:hover{
  background-color: rgb(160, 15, 15) !important;
}

.bg-custom {
  background-color:#060a0a;
}

#banner-button{
  padding-top: 30px !important;
  margin-top: 30px !important;
}

.make-room{
  padding-bottom: 15px;
  
}

/* .image-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.banner-content {
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
}

.img-content img {
  width: 100%;
  height: 100vh;
  display: block;
} */

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #530473;
  opacity: .8;
  z-index: 999;
  height: 100%;
}

.ban-btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.btn-red {
  background-color: red;
}

.btn-green {
  background-color: #4CAF50;
} */